.App {
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
}
.box{
  padding-top: 10%;
  padding-left:10% ;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}